.form__form{
    height: 80px;
    margin-top: 39px;
    background-color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.form__form-title{
    font-size: 18px;
    line-height: 21px;
    padding-left: 30px;
}

.form__form-input{
    font-size: 18px;
    margin-left: 45px;
    width: 820px;
    height: 41px;
    padding-left: 10px;
    border: 0;
}

.form__form-button{
    margin-left: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 10px 47px;
    background: #C4C4C4;
    cursor: pointer;
}